@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
* {
	box-sizing: border-box;
}
:root {
	min-height: 99vh;
	min-width: 99vw;
	overflow-x: hidden;
	--background: #111111;
	--foreground: #dddddd;
	--primary: rgb(24, 155, 248);
	--secondary: #fc8585;
	--card: #272751;
}

.dark {
	--background: #ffffff;
	--foreground: #111111;
	--primary: rgb(24, 155, 248);
	--secondary: #fc8585;
	--card: #6262f8;
}

.no-scroll {
	overflow-y: hidden;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary: var(--secondary);
	--color-primary: var(--primary);
	--color-card: var(--card);
}

@keyframes open-modal {
	from {
		opacity: 0;
		transform: translateX(-10%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@layer utilities {
	.animate-open-skill-modal {
		animation: open-modal 0.7s ease-in-out;
	}
}
